.slot-container {
  width: 100vw;

  .reel-container {
    display: flex;
    gap: 3%;
    justify-content: center;
    max-width: 72.37vh;
    margin: auto;
    padding: 0 3%;

    .reel {
      align-items: center;
      background-color: white;
      border-radius: 1vw;
      box-shadow: inset 0 0px 0px 0px #fff, inset 0 -1px 10px 0px black;
      display: flex;
      flex: 1;
      flex-direction: column;
      gap: 15%;
      height: 65vw;
      overflow: hidden;
      padding: 5%;
      max-height: 50vh;

      img {
        height: 23%;
      }

      img.spinningImage {
        animation: spinImage 0.2s linear;
        animation-iteration-count: infinite;
        position: relative;
      }
    }
  }

  .operation-buttons {
    gap: 20px;
    max-width: 72.37vh;
    display: grid;
    grid-template-columns: minmax(200px, 1fr) 1fr;
    margin: auto;
    padding: 0 3%;

    button {
      border-radius: 1vw;
      font-size: 1.1rem;
      font-weight: bold;
      padding: 5vw;
    }

    .pushable {
      background: hsl(340deg 100% 32%);
      border-radius: 12px;
      border: none;
      padding: 0;
      cursor: pointer;
      outline-offset: 4px;
    }

    .front {
      display: block;
      padding: 12px 42px;
      border-radius: 12px;
      font-size: 1.25rem;
      background: hsl(345deg 100% 47%);
      color: white;
      transform: translateY(-6px);
      white-space: nowrap;
    }

    .pushable:active .front {
      transform: translateY(-2px);
    }
  }

  @keyframes spinImage {
    from {
      top: -200%;
    }

    to {
      top: 0%;
    }
  }

  .game-detail-container {
    text-align: center;
    max-width: 72.37vh;
    margin: 20px auto;
    padding: 0 3%;

    .info-area {
      display: grid;
      gap: 20px;
      grid-template-columns: minmax(103px, auto) auto auto;

      &__info {
        border-image: linear-gradient(to right, white, grey) 1;
        border-style: solid;
        border-width: 2px;
        color: red;
        font-family: 'digital-7';
        font-size: 2rem;
        padding: 1%;
      }

      &__label {
        color: white;
        font-family: 'insigne-display';
        font-size: 1.5rem;
        white-space: nowrap;
      }
    }
  }

}
