<div class="reel-container">
  <div class="reel" *ngFor="let images of reelImages; index as i">
    <img *ngFor="let image of images" [ngClass]="{ spinningImage: spinningReels[i] }" [src]="image" alt="">
  </div>
</div>

<div class="operation-buttons">
  <button class="operation-buttons__auto-button" (click)="toggleAutoSpin()">
    <ng-container *ngIf="isAutoMode">AUTO (ON)</ng-container>
    <ng-container *ngIf="!isAutoMode">AUTO (OFF)</ng-container>
  </button>
  <button [disabled]="isSpinning" class="operation-buttons__spin-button" (click)="spin()">
    SPIN
  </button>
</div>
